<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="3.1.0" targetFramework="net461" />
  <package id="Fody" version="3.1.7" targetFramework="net461" developmentDependency="true" />
  <package id="HtmlAgilityPack" version="1.8.7" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="PhantomJS" version="2.1.1" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.14.0" targetFramework="net461" />
  <package id="YoutubeExtractor" version="0.10.11" targetFramework="net461" />
</packages>